
- Naive bayes merupakan teori probabiltias dasar yang dapat digunakan \sebagai klasifikasi AI

- Dataset "titanic.csv" merepsentasikan penumpang mana saja yang hidup berdasarkan kriteria2 yang tersedia.

- Buatlah system klasifikasi menggunakan naive bayes menggunakan metode Naive Bayes.

- Saya legalkan teman2 menggunakan library sklearn untuk membuat algorima naive bayes

- Pengjelasan code di kirimkan dalam bentuk pdf atau gitlab (bebas)

In [ ]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

In [ ]:
#Input Data
data = pd.read_csv("Titanic.csv")

In [ ]:
data

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1
...,...,...,...,...,...
1308,"Zakarian, Mr Artun",3rd,27.00,male,0
1309,"Zakarian, Mr Maprieder",3rd,26.00,male,0
1310,"Zenni, Mr Philip",3rd,22.00,male,0
1311,"Lievens, Mr Rene",3rd,24.00,male,0
1312,"Zimmerman, Leo",3rd,29.00,male,0

In [ ]:
#Mengimpor kumpulan data
data["Sex_cleaned"]=np.where(data["Sex"]=="male",0,1)
data["PClass"]=np.where(data["PClass"]=="S",0,
                                  np.where(data["PClass"]=="C",1,
                                           np.where(data["PClass"]=="Q",2,3)
                                          )
                                 )

In [ ]:
## Membersihkan kumpulan data NaN
data=data[[
    "Survived",
    "PClass",
    "Sex_cleaned",
    "Age"
]].dropna(axis=0, how='any')

In [ ]:
## Pisahkan kumpulan data dalam kumpulan data pelatihan dan pengujian
X_train, X_test = train_test_split(data, test_size=0.5, random_state=int(time.time()))

In [ ]:
# Buat instance pengklasifikasi
gnb = GaussianNB()
used_features =[
     "Survived",
    "PClass",
    "Sex_cleaned",
    "Age"
]

In [ ]:
# Menjalankan klasifikasi 
gnb.fit(
    X_train[used_features].values,
    X_train["Survived"]
)
y_pred = gnb.predict(X_test[used_features])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
y_pred

array([0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 0])

In [ ]:
X_train

     Survived  PClass  Sex_cleaned   Age
738         1       3            0   9.0
721         0       3            0  20.0
19          1       3            1  47.0
649         1       3            1  45.0
205         1       3            1  56.0
..        ...     ...          ...   ...
463         0       3            0  34.0
17          0       3            0  36.0
106         1       3            0  49.0
774         0       3            0  42.0
710         1       3            1  16.0

[378 rows x 4 columns]

In [ ]:
y_train

325     0
668     0
1191    0
818     1
1178    0
       ..
1095    0
1130    0
1294    0
860     1
1126    0
Name: Survived, Length: 919, dtype: int64

In [ ]:
# Hasil cetak
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%"
      .format(
          X_test.shape[0],
          (X_test["Survived"] != y_pred).sum(),
          100*(1-(X_test["Survived"] != y_pred).sum()/X_test.shape[0])
))

Number of mislabeled points out of a total 378 points : 0, performance 100.00%