# Nomor 1

In [1]:
list=(8,2,0,3,7)
def jumlah(list):
  jml=0
  for i in list:
    jml=jml+i
  return jml
list=(8,2,0,3,7)
print(list)
print("jumlah adalah: " ,jumlah(list))

(8, 2, 0, 3, 7)
jumlah adalah:  20

# Nomor 2

In [3]:
color = ['Red', 'Blue', 'Black', 'White', 'Pink'] 
print("input asal: ")
print(color) 
print("output:") 
result = list(map(list, color)) 
print(result)

input asal:
['Red', 'Blue', 'Black', 'White', 'Pink']
output:
[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

# Nomor 3

In [2]:
list1 = [6, 5, 3, 9]

list2 = [0, 1, 7, 7]

sum_list = [a + b for a, b in zip(list1, list2)]

print("list angka")
print(list1)
print(list2)
print("hasil penjumlahan list")
print(sum_list)

list angka
[6, 5, 3, 9]
[0, 1, 7, 7]
hasil penjumlahan list
[6, 6, 10, 16]

# Nomor 4

In [3]:
bil_awal = int(input('Masukan bilangan awal: '))
bil_akhir = int(input('Masukan bilangan akhir: '))
 
list_bil = [i for i in range(bil_awal, bil_akhir +1 )]
print('Daftar bilangan: {}'.format(list_bil))
 
bil_genap = []
bil_ganjil = []
 
for bil in list_bil:
    if bil % 2 == 0:
        bil_genap.append(bil)
    else:
        bil_ganjil.append(bil)
 
print('genap: {}'.format(', '.join([str(bil) for bil in bil_genap])))
print('ganjil: {}'.format(', '.join([str(bil) for bil in bil_ganjil])))

Masukan bilangan awal: 1
Masukan bilangan akhir: 10
Daftar bilangan: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
genap: 2, 4, 6, 8, 10
ganjil: 1, 3, 5, 7, 9